.thread-view-container {
    background: #2D2D2D;
    border-radius: 4px;
    width: 90vw;

    min-height: 50vh;

    /* height: 70vh; */

    position: relative;

    /* border: 1px solid red; */

    margin: 2% auto;

    color: #AAAAAA;

    display: flex;
}

.thread-view-body {
    /* border: 1px solid red; */

    width: 80%;
    height: 100%;
    margin-left: 20%;

    display: flex;
    flex-direction: column;
}